.chatmsg-heading {
    color: #070707;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputFormContainer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 20;
    width: 90%;
    height: 100px;
    border-radius: 15px;
}

.inputMsg {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 60px;
    font-size: 1.5vw;
    width: 70%;
    border-radius: 15px;
    padding: 15px 12px 15px 12px;
    color: indigo;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.sendMsg {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40px;
    width: 12%;
    border-radius: 15px;
}

.sendLoc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40px;
    width: 12%;
    border-radius: 15px;
    background-color: darkslategrey;
    color: white;
    margin-right: 10px;
}

.sendMsg:active {
    animation-name: spin;
    animation-duration: 1s;
}

.inputCtrlBox {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px;
    border-style: groove;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    color: brown;
    font-size: 44px;
}

.msgBox {
    height: 70%;
    width: 90%;
    color: blue;
    background-color: cornsilk;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border: 2px;
    font-size: 1.4vw;
    overflow: auto;
    scroll-behavior: auto;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes glow {}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}